# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.tlog
LibZ/ReleaseStatic/
LibZ/ReleaseStaticMT/
LibZ/ReleaseMT/
*.pdb
*.exp
*.ilk
*.res
LibZ/Debug/
LibZ/DebugStatic/
*.suo
LibZ/DebugMT/
LibZ/DebugStaticMT/
*.sdf
*.user
LibZ/src/RCa03948
*.opensdf
LibBzip2/Debug/
*.idb
LibZ/demo/zip_Simple1/Debug/test.txt
LibZ/demo/zip_Simple1/Debug/
LibZ/demo/zip_Simple1/ReadMe.txt
LibZ/demo/core_sample1/Debug/
LibZ/demo/zip1/Debug/
LibZ/demo/zip1/ReadMe.txt
LibZ/demo/zip1_standard/Release/
LibZ/demo/zip1_standard/ReadMe.txt
Tools/NASM/LICENSE
Tools/NASM/version.txt
*.zip
*.tar.gz
*/doc/*/*
*.mk
Jamfile
LibOpenSSL/src/md5/asm/*.asm
LibOpenSSL/src/*.asm
LibZ/demo/FolderZip/ReadMe.txt
LibZ/demo/unzip_Simple/ReadMe.txt
LibZ/demo/unzip_standard/ReadMe.txt
LibFreeType/demo/hello/ipch/hello-33b552a2/hello-a026449a.ipch
*/Debug/*
LibBzip2/demo/helloworld/Debug/
*.png
*.bz2
*.bmp
